#header{

    text-align: center;
    margin-top: 0px;
    background-color: #d1ba90;
}
#header h1{

    margin-top: 0px;
    color: black;
    font-size: 600;
    font-family: cursive;
}
 .tabContent{
    display: none;
    font-family: cursive;

}
.tabContent img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
  img{
    width: 69px;
    /* margin-left: 400px; */
    margin-bottom: 0%;
    /* border-radius: 50%; */
    /* width: 300px;
    height: 200px; */
}
.tabHeader {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  
  }
  .tabHeader button {
      /* background-color: chartreuse; */
      /* width: 20px;
      height: 20px; */
      font-size: 17px;
      /* padding-right: 7px; */
      border: none;
      padding: 14px 16px;
   
  }
  .tabHeader button:hover{
      background-color: green;
  }
body
{
    background-color: #e40b65;
    display: block;
    margin: 8px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
}